<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8">
        <title>Pages</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="x-ua-compatible" content="ie=edge"><!-- Favicon data-->
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
        <link rel="manifest" href="/site.webmanifest">
        <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="theme-color" content="#ffffff">
        <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700&amp;display=swap" rel="stylesheet">
        <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
        <link rel="stylesheet" href="css/styles.min.css">
        <!-- The "defer" attribute is missing in order to prevent the absence of editor when page load.-->
        <script src="https://cdn.quilljs.com/1.3.7/quill.js"></script>
        <script src="js/main.min.js" defer></script>
        
    </head>

    <body class="body">
        <header class="body__header header">
            <div class="header__container">
                <div class="header__wrapper">
                    <div class="nav-toggle" onclick="js_menu_toggle.classList.toggle('is-active');
                           this.classList.toggle('is-active')">
                        <div class="nav-toggle__container">
                            <div class="nav-toggle__bar"></div>
                            <div class="nav-toggle__bar"></div>
                            <div class="nav-toggle__bar"></div>
                        </div>
                    </div>
                    <div class="header__inner"><a class="header__logo-wrapper" href="#"><img class="header__logo" src="{% static 'images/logo.png" alt="Logo"></a>
                        <div class="header__buttons"><a class="header__btn btn btn--theme-2" href="#">Your posts</a><a class="header__btn btn btn--theme-2" href="#">Create a post</a><button class="header__btn btn btn--theme-3" type="button">Login</button></div>
                    </div>
                </div>
                <div class="nav" id="js_menu_toggle">
                    <div class="nav__container">
                        <ul class="nav__list">
                            <li class="nav__item"><a class="nav__link" href="home.html">POSTS</a></li>
                            <li class="nav__item"><a class="nav__link" href="community-rules.html">RULES</a></li>
                            <li class="nav__item"><a class="nav__link" href="#">RAPLEV.COM</a></li>
                        </ul>
                        <div class="nav__search-field form-group">
                            <div class="form-group__field-group"><input class="form-group__field" name="blank" type="search" placeholder="Search in community" required><svg class="form-group__required">
                                    <use xlink:href="{% static 'images/sprite.svg' %}#exclamation-circle"></use>
                                </svg></div>
                        </div><button class="nav__search-btn btn btn--theme-1" type="button">SEARCH</button>
                    </div>
                </div>
            </div>
        </header>
        <div class="body__container">
            <div style="margin: 30px">
                <h1>Pages</h1>
                <ol>
                    <li style="list-style: decimal inside"><a href="00_styleguide.html">00_styleguide.html</a></li>
                    <li style="list-style: decimal inside"><a href="community-single-post.html">community-single-post.html</a></li>
                    <li style="list-style: decimal inside"><a href="report-post.html">report-post.html</a></li>
                    <li style="list-style: decimal inside"><a href="community-rules.html">community-rules.html</a></li>
                    <li style="list-style: decimal inside"><a href="search-results.html">search-results.html</a></li>
                    <li style="list-style: decimal inside"><a href="community-create-post.html">community-create-post.html</a></li>
                    <li style="list-style: decimal inside"><a href="home.html">home.html</a></li>
                    <li style="list-style: decimal inside"><a href="your-posts.html">your-posts.html</a></li>
                </ol>
            </div>
        </div>
    </body>

</html>