{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}Login{% endblock %}

{% block body %}dialog login{% endblock %}

{% block content %}
<form class="dialog__container" id="login_form" onsubmit="login(event)">
    <a class="dialog__logo" href="/">
        <img class="dialog__logo-img" src="{% static 'images/logo.png' %}" alt="Raplev logo">
    </a>
        
    <div class="login__fields">
        <div class="dialog__field form-group">
            <div class="form-group__field-group">
                <input class="form-group__field" name="username" autocomplete="username" placeholder="Username" required>
            </div>
        </div>
        <div class="dialog__field form-group {% if error.password %}is-invalid{% endif %}">
            <div class="form-group__field-group">
                <input class="form-group__field" name="password" type="password" autocomplete="current-password" placeholder="Password" required>
            </div>
        </div>
    </div>
    <div class="login__control">
        <button class="login__submit btn btn--round btn--theme-1" type="submit">LOGIN</button>
        <a href="{{ main_site_url }}/forgot-password-email/">Forgot your password?</a>
    </div>
</form>
{% endblock %}

{% block bottom-script %}
{{ block.super }}
<script>

</script>
{% endblock %}